@font-face {
  font-family: "TiempoFine";
  src: url("/fonts/TiemposFine-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTNormsPro";
  src: url("/fonts/TT-Norms-Pro-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
