@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.big-title {
  font-size: 90px;
  line-height: 108px;
  font-weight: bold;
}

.text-infos {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}

.text-common {
  font-size: 32px;
  line-height: 48%;
  font-weight: 500;
}
