/** Family **/
$main_font: "TTNormsPro", sans-serif;
$secondary_font: "TiempoFine", sans-serif;

/** Colors **/
$light-grey: #edecec;
$dark-blue: #000648;
$eletric-blue: #256dff;
$blue-grey: #475bd1;
$orange-gradient: linear-gradient(107.28deg, #ff6644 29.48%, #ff9d6f 100%);
$orange: #ff9d6f;
$dark-orange: #ff6644;
$dark-cream: #fff8ee;

/** font size **/
$title-activity: 90px;
