/** Family **/
$main_font: 'TTNormsPro', sans-serif;
$secondary_font: 'TTNormsPro', sans-serif;

/** Colors **/
$light-grey: #edecec;
$dark-blue: #000648;
$eletric-blue: #256DFF;
$orange-gradient: linear-gradient(107.28deg, #FF6644 29.48%, #FF9D6F 100%);
$dark-cream: #FFF8EE;


/** font size **/
$title-activity : 90px;
