@import "variables";
@import "reset";
@import "fonts";
@import "components/interactive-points";

body {
  font-family: $main_font;
  min-height: 100vh;
}

.page-container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

// GUI
.dg{
  z-index: 99999!important;
}
