@import "variables";
@import "reset";
@import "fonts";
@import "typography";
@import "components/interactive-points";
@import "sizes";

body {
  min-height: 100vh;
  // background: linear-gradient(180deg, #FCEEE6 0%, #EFDEDD 100%);
  background: linear-gradient(
    180deg,
    #fefef3 0%,
    #fdf7db 23.96%,
    #fdd4ba 51.56%,
    #FFC0AA 100%
  );
}

.page-container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

// GUI
.dg {
  z-index: 99999 !important;
}
